@charset "UTF-8";

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/poppins-400.woff2") format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Poppins-400-latin.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Poppins-500.woff2") format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Poppins-500-latin.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import 'bootstrap-icons/font/bootstrap-icons.css';
// @import "@/node_modules/bootstrap/dist/css/bootstrap.css";

:root {
  --primary-color: #385688;
  --secondary-color: #262630;
  --tertiary-color: #FF3636;
  --tertiary-opacity: #ff3636b0;
  --success: #45823D;
  --text-light: #ffffff;
  --box-shadow1: 0px 3px 6px #00000029;
  --box-shadow2: 0px 3px 22px #00000029;
  --box-shadow3: 0px 3px 6px #4B4B4B24;
  --border-color: #262630;
  --text-color1: #262630;
  --text-color2: #534B4B;
  --text-color3: #171717;
  --text-color4: #282828;
  --bg-color1: #3856881C;
  
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins" !important;
  margin: 0 !important;
  padding: 0 !important;
}

.bg-container {
  margin: 0 !important;
  padding: 0 !important;
  background-image: url('/images/bg-img.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  --bs-gutter-x: 0;
}

.outer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(245, 245, 245, 0.8);
  width: 100%;
}

.inner-card {
  box-shadow: var(--box-shadow1);
  border-radius: 5px;
  width: 685px;
  border: none;
}

.cursor-pointer {
  cursor: pointer;
}

a:hover {
  color: var(--secondary-color);
}

.text-primary-color {
  color: var(--primary-color);
}

.text-secondary-color {
  color: var(--secondary-color);
}

.text-tertiary-color {
  color: var(--tertiary-color);
}

.text-success-color {
  color: var(--success);
}

.text-light-color {
  color: var(--text-light);
}

.text-color1 {
  color: var(--text-color1);
}

.text-color2 {
  color: var(--text-color2);
}

.text-color4 {
  color: var(--text-color4);
}

.text-underline{
  text-decoration: underline;
}

.alert-success {
  background: #45823D33;
  border-radius: 5px;
}

.bg-primary-color {
  background: var(--primary-color);
}

.bg-tertiary-color {
  background: var(--tertiary-color);
}

.bg-tertiary-color-1 {
  background: #ff3636bf;
}

.bg-tertiary-opacity {
  background-color: var(--tertiary-opacity);
}

.bg-light-color {
  background-color: var(--text-light);
}

.bg-color1 {
  background-color: var(--bg-color1);
}

.btn {
  border: none;
  border-radius: 5px;
  font-size: 14px;
  height: 44px;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-primary:hover {
  background: #1c3766;
}

.btn-outline-primary {
  background: var(--text-light);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-outline-primary:hover {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--text-light);
}

.btn-border-primary {
  border: 1px solid var(--border-color);
}

.btn-border-primary:hover {
  border: 1px solid var(----border-color);
}

.btn-empty {
  background: var(--text-light);
}

.btn-empty:hover {
  background: var(--primary-color);
  color: var(--text-light);
}

.border-secondary {
  border: 1px solid #b1b1b1 !important;
  padding: 11px 8px;
  border-radius: 3px;
  outline: none;
}

.border-bottom {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #999999 !important;
  padding: 11px 8px;
  outline: none;
}

.border-secondary:hover {
  border: 1px solid var(--border-color);
}

.border-danger {
  border: 1px solid var(--tertiary-color);
  padding: 11px 8px;
  border-radius: 5px;
  outline: none;
}

.border-danger:hover {
  border: 1px solid var(--tertiary-color);
}

.border-radius-4 {
  border-radius: 4px;
}

.border-radius-8 {
  border-radius: 8px;
}

.a-disabled {
  cursor: not-allowed;
}

.vertical-left-primary {
  border-left: 2.9px solid var(--primary-color);
}

.btn-primary:disabled {
  background-color: var(--primary-color);
}

.form-control-select {
  label {
    position: absolute;
    top: 1%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    background: var(--text-light);
    z-index: 10;
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    cursor: pointer;
  }

  i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  select:focus {
    outline: none;
    border: 1px solid var(--primary-color) !important;
  }
}

.form-control-select select[disabled] {
  background-color: #6868681c !important;
  opacity: 0.7 !important;
  background-size: cover !important;
  user-select: none !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.form-control-field {
  label {
    position: absolute;
    top: 1%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    background: var(--text-light);
    z-index: 10;
  }

  i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
  }

  input:focus {
    outline: none;
    border: 1px solid var(--primary-color) !important;
  }
}

.form-control-field input:disabled {
  background-color: #ffffff !important;
  opacity: 0.7 !important;
  background-image: url('/images/disabled-input.png');
  background-size: cover;
  cursor: not-allowed;
  pointer-events: none;
}

.form-control-field input[readonly] {
  background-color: #6868681c !important;
  opacity: 0.7 !important;
  background-size: cover;
  user-select: none;
  cursor: not-allowed;
  pointer-events: none;
}

.form-control-field input[readonly]+i {
  display: none;
}

.drop-down-select {
  background-color: var(--text-light);

  button {
    padding: 0;
  }

  .drop-down-icon {
    width: 30px;
  }

}

.border-secondary.select-file {
  border-radius: 5px 0px 0px 5px;
}

.btn-upload {
  border-radius: 0px 5px 5px 0px;
  padding: 12px 8px;
}

.upload-img {
  width: 27px;
}

.upload-container .file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress-bar {
  background: #00000033;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.progress-text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress,
.progress-stacked {
  --bs-progress-height: 1rem;
  --bs-progress-font-size: 0.75rem;
  --bs-progress-bg: transparent;
}

.progress,
.progress-stacked {
    --bs-progress-height: 1rem;
    --bs-progress-font-size: 0.75rem;
    --bs-progress-bg: transparent;
}

.dropdown-list {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  margin-top: 0px;
  background: #ffffff;
  z-index: 100;
  border-radius: 10px;
  min-height: 45px !important;
  max-height: 150px !important;
  overflow-x: none;
  overflow-y: auto;
  scrollbar-width: thin;
}

.dropdown-list ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-list ul li {
  padding: 3px;
  cursor: pointer;
}

.dropdown-list ul li:hover {
  background-color: var(--primary-color) !important;
  color: #ffffff;
}

.dropdown-list::-webkit-scrollbar {
  width: 5px;
}

.dropdown-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dropdown-list::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
  border-radius: 5px;
}

.modal-content {
  box-shadow: none;
  border-radius: 5px;
  border: none;
  width: 100%;
  border: none;
  box-shadow: none;
}

.close-icon {
  position: relative;
  right: 10px;
  top: 10px;
}

.cursor-not-allowed {
  cursor: not-allowed;
  pointer-events: none;
}

.vc-popover-content-wrapper {
  z-index: 200 !important;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-40-26 {
  font-size: 40px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 14px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fw-medium {
  font-weight: 500;
}

.fs-24 {
  font-size: 24px;
}

.fs-32-20 {
  font-size: 32px;
}

.fs-18-14 {
  font-size: 18px;
}

.fs-22 {
  font-size: 22px;
}

.fs-16 {
  font-size: 16px;
}

.fs-12 {
  font-size: 12px;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-26 {
  font-size: 26px;
}

.fs-32 {
  font-size: 32px;
}

.fs-22-16 {
  font-size: 22px;
}

.fs-32-24 {
  font-size: 32px;
}

.fs-14-10 {
  font-size: 14px;
}

.fs-12-10 {
  font-size: 12px;
}

.fs-24-14 {
  font-size: 24px;
}

.fs-20-14 {
  font-size: 20px;
}

.fs-14-12 {
  font-size: 14px;
}

.fs-24-16 {
  font-size: 24px;
}

.fs-24-18 {
  font-size: 24px;
}

.fs-18-16 {
  font-size: 18px;
}

.fs-16-14 {
  font-size: 16px;
}

.fs-16-12 {
  font-size: 16px;
}

.fs-20-16 {
  font-size: 20px;
}

.w-75-100 {
  width: 75%;
}

.w-50-100 {
  width: 50%;
}

.w-25px {
  width: 25px;
}

.w-70 {
  width: 100%;
}

.w-100-75 {
  width: 100%;
}

.w-100-50 {
  width: 100%;
}

.w-50-100 {
  width: 50%;
}

.box-shadow3 {
  box-shadow: var(--box-shadow3);
}

